# Ignore node_modules for both frontend and backend
node_modules/
client/node_modules/
server/node_modules/

# Ignore build
client/build/

# Ignore environment variables
.env
.env.local

# Ignore uploads
uploads/
